<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Blog Ninja</h1></a>
            <p>A Net Ninja Site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem</p>
        <p>Lorem</p>
        <p>Lorem</p>
    </div>

    <%- include('./partials/footer.ejs') %>    

</body>
</html>